@charset "utf-8";

/******************  Table of Contents  *****************************/

/*

1. GLOBAL STYLES
2. HEADER
3. HERO IMAGE
4. FEATURES
5. TESTIMONIALS
6. FAQ
7. FOOTER
8. CUSTOM MEDIA QUERIES

*/

/*========== 1. GLOBAL STYLES ==============*/


body {
	font-family: Planer-Regular, Arial, sans-serif;
	background-color: #0077C0;
	height: 100%;
	margin: 0;
	padding: 0;
	color:#45494D;
	line-height:1.414;
}
strong, b {
	font-family: Planer-DemiBold, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}
em {
	font-family: Planer-Italic, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
	color: #0077C0;
	font-weight: normal;
	line-height: 1.414;
}
h1 {
	font-family: FFOlsenWebPro, Georgia, serif;
	margin:25px 0;
}
h2 {
	font-family: FFOlsenWebPro, Georgia, serif;
	margin:15px 0;
}
h3 {
	font-family: Planer-Regular, Arial, sans-serif;
	font-size: 1.414em;
	margin: 10px 0;
}
h3.article {
	font-family: FFOlsenWebPro, Georgia, serif;
	font-weight: normal;
	font-style: normal;
}
h4 {
	margin:10px 0;
}
h5 {
	margin:15px 0;
}
h6 {
	margin:10px 0;
}
a {
	color:#F56A2A;
}
a:before {
	content: '> ';
}

a:hover, a:focus {
	color:#F56A2A;
}
a.btn:before{
	content: '';
}

/* ===== FORMS ===== */

.btn, .btn-lg, .input-lg {
	border-radius:3px;
}
.form-control {
	border-radius: 3px;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.input-lg {
	height: 55px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 13px 28px;
}
.form-control:focus {
border: 1px solid #F56A2A;
-webkit-box-shadow: none;
box-shadow: none;
}

/* ===== LAYOUT ELEMENTS ====== */

.breath {
	margin:35px auto;
}
.wrapper {
	background-color: #FFF;
}
.highlight {
	background:#f4f4f4;
	margin-top:40px;
}
.sign-up {
	margin-top: 100px;
}
.has-no-margin {
	margin:0;	
}
.has-no-padding {
	padding:0;	
}
.has-no-padding-horizontal {
	padding-left:0!important;
	padding-right:0!important;
}
.has-margin-vertical {
	margin:20px 0 30px;	
}
.has-margin-top {
 	margin-top:40px;
}
.has-margin-bottom {
 	margin-bottom:40px;
}
.has-padding-top {
 	padding-top:40px;
}
.has-padding-bottom {
	padding-bottom: 20px;
}
.info-box {
	margin-left: 1.414em;
	background: #f4f4f4;
	padding: 1.2em;
}
.info-box p {
	font-family: Planer-Italic, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-size: 1em;
}

/* ===== ASSETS ===== */

.portrait {
	width: 100%;
}
.img-caption {
	padding: .8em 0;
	text-align: center;
	color: #45494D;
	font-family: Planer-Italic, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
}
 
/*========== 1 a. TYPOGRAPHY ==============*/

/* SCALE

3.998em
3.393em
2.827em
2.399em
1.999em
1.697em
1.414em
1.2em
1em 

*/

body { font-size: 18px; } 
h1 { font-size: 3.393em; }
h2 { font-size: 1.999em; }
h3 {font-size: 1.414em; }
h4, h5, h6 { font-size: 1.2em; text-transform: uppercase;}
p {font-size: 1.2em;}

.footerlinks {font-size: 0.707em; }

.intro {font-size: 1.414em;}

li {font-size: 1.2em;}

/*========== 2. HEADER ==============*/

.masthead {
	position: relative;
	padding: 40px 15px 60px 15px;
	color: #FFF;
	text-align: center;
	background-color: #0077C0;
	height: 100vh;
	width: 100%;
	display: block;
	z-index: -2;
	text-shadow: 1px 1px 2px #555;
}

.masthead .main-title {
	margin-bottom:0;
	color:#FFF;
	z-index: 1;
}
.masthead .sub-title {
	margin-top: 0;
	color: #FFF;
	font-size: 1.414em;
	font-family: Planer-Regular, sans-serif;
	text-transform: uppercase;
	z-index: 1;
}

.header-bg {
	background: linear-gradient(to bottom, rgba(0, 119, 192, 1),  rgba(0, 119, 192, 0.7) 45%, rgba(0, 119, 192, 0) 55%);
	z-index: 1;
}

.header-img {
	display: cover;
	position: fixed;
	background: url(../images/header.svg) no-repeat center bottom;
	background-size: 100%;
	z-index: -9999;	
	width: 100%; 
	height: 100%;
}

/*animation ends*/

.logo {
	padding: 15px 0;
	text-align:center;
}
.logo img {
	width: 100px;
}
.logo a:before {
	content: '';
}
.btn {
	border: none;
	border-radius: 4px;
}
.btn-large {
	font-size:1em;
	padding:1.25em 3.125em;
	margin:0.3125em 0.625em;
}
.btn-primary {
	background-color: #F56A2A;
	text-transform: uppercase;
	background-image:none;
	box-shadow: 0 3px 0 rgba(255,168,128,1)
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #F58B5B!important;
	color:#FFF!important;
}

.subscribe {
	padding: 45px 0;
}
.alertMsg {
	font-size: 14px;
	display: block;
	padding: 5px 17px;
	text-align:center;
}

/*Header Contact Form*/

.contact-form {
	background:#4a5565;
	border-radius:3px;
	padding:15px;
	text-align: center;	
	position:relative;
}
.contact-form form {
	display: inline-block;
}
.contact-form .mini-title {
	margin-bottom:20px;
	line-height:1.5;
	text-shadow: none;
	color: #555;
}

.loading p {
	margin: 10px 0 0 0;
	text-align:center;	
}

/*========== 3. HERO IMAGE ==============*/

.section-title {
	margin-top:60px;
	margin-bottom:30px;
	text-align:center;
}
.section-title h2 {
	color:#45494D;
	margin-bottom: 10px;
}
.section-title h3 {
	color:#73797F;
	font-weight: normal;
	margin-top: 0;
}
.heroimg img, .clientlogo img {
	max-width:100%;
}
/*========== 4. FEATURES ==============*/

.features {
	margin:25px 0;
}
.thumbnail {
	border:0;
	text-align:center;
	background: transparent;
}
.testimonials .thumbnail {
	background-color: #F4F4F4;
}
.teaser {
	text-align: center;
	color: #45494D;
	font-family: Planer, Arial, sans-serif;
}

/*Hover Animation*/

.thumbnail img {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	width:100px;
}
.thumbnail:hover img {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

/*Video Block*/

.video-block {
	max-width:640px;
	margin:0 auto;
}

/*========== 5. TESTIMONIALS ==============*/

.clientblock {
	margin-top:10px;
	margin-left:10px;
	text-align:center;
}
blockquote {
	margin: 0 0 10px;
	font-size: 1.2em;
	line-height: 1.4em;
	border-left: none;
	text-align: center;
	font-family: FFOlsenWebProLightItalic, Georgia, serif;
	font-style: normal;
	font-weight: normal;
}

.clientblock img {
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.clientblock p {
	padding-top:13px;
}
.clientblock p strong {
	color:#384047;
}


/*========== 7. FAQ ==============*/

.faq p {
	margin-bottom:25px;
}

/*==========8. FOOTER ==============*/


.footercta {
	padding: 60px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #323e4f;
}
.footercta .section-title {
	margin-top:0;	
}
.footercta .section-title h2 {
		color: #FFF;
}

.footerlinks {
	text-align:center;
}
.footerlinks a {
	text-align:center;
	display:inline-block;
	padding-bottom: 15px;
}

.client-logos{
	padding: 30px 0 10px 0;
}
.client-logo-single {
	height: 100px;
	padding: 0 1em 1em 0;
}


/*==========9. CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 480px){
	.header-img {
		background: url(../images/header.svg) no-repeat center bottom;
		background-size: 120%;
		overflow: scroll;
		z-index: -9999;	
		width: 100%; 
		height: 100%;
	}
}

@media (max-width: 767px){
	body{
		font-size: 12px;
	}
	h2 {
		font-size: 1.697em;
	}
	h3 {
		text-align: center;
		text-transform: uppercase;
	}
	h5, h6, p { font-size: 1.414em; }
	.footerlinks {font-size: 1em; }
	.thumbnail img {
		width: 70px;
	}
	#explore .has-padding-top{
		padding-top: 10px;
	}
	.btn-lg {
		display: block;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.left {
		padding-right: 35px;
	}
	.right {
		padding-left: 35px;
	}
}

@media (min-width: 1100px){
	.header-img {
	background-size: 70%;
	}
}

@media (max-width: 991px) {

 h1 {
margin: 15px 0;
}

 .testimonials [class*="col-"]:not(:first-child) {
 margin-top: 40px;
}
 .planpricing [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .breath {
margin: 30px auto;
}
}
 @media (max-width: 767px) {

 .subscribe [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .masthead {
padding: 40px 15px;
}
}
 
 @media (max-device-width: 992px) {
	 
.masthead {
background-size: cover;
background-attachment: scroll;
}
	 
 }
 
.signup-block {
	padding:20px;	
	background:rgba(255,255,255,0.25);
	border-radius:7px;
	margin-bottom:25px;
}

.form-group.last {
	margin-bottom:0;	
}

.multiple-btns .btn + .btn {
	margin:10px;	
}



 /*
 ------ LIGHT LAYOUT ------- s
 */

 .light .masthead {
background: #FCF9F5; 
 }

.light .contact-form {
background: #F4F4F4;
 }
 
.light .form-control {
border: 1px solid #CCC;
}
.light .form-control:focus {
border: 1px solid #F56A2A;
}
.contact-form .mini-title {
	color:#555;
}

.color-white {
	color:#FFF!important;	
}