<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>Lean Startup Skolen | Iterate</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Startup CSS -->
<link href="css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->

</head>
<body>
<!-- Header Starts -->
<main id="top" class="masthead header-bg" role="main">
  <div class="container"> 
    <!-- Startup Logo -->
    <div class="logo"> <a href="http://iterate.no"><img src="images/iterate-logo.png" alt="Iterate Logo"></a> </div>
    <!-- Hero Title -->
    <h1 class="main-title has-margin-top">Lean Startup Skolen</h1>
    <!-- Sub Title -->
    <h2 class="sub-title has-margin-bottom">Kurset for deg som trenger praktiske råd for å lykkes med Lean Startup.</h2>

    <!-- Quick Features and form -->
    <div class="row has-padding-top has-margin-bottom light">
    
    <!-- Signup form -->
      <div class="col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6 ">
        <div class="contact-form">
          <p class="mini-title">Gratis epostkurs i seks deler der du annenhver dag mottar en leksjon i din innboks - fra og med idag!</p>
          <form class="form" id="phpcontactform">
            <div class="form-group">
              <label class="sr-only" for="name">Ditt navn</label>
              <input class="form-control input-lg" type="text" placeholder="Ditt navn" name="name" id="name" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="email">Din epost</label>
              <input class="form-control input-lg" type="email" placeholder="Din epost" name="email" id="email" required>
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Meld deg på">
            <span class="loading"></span>
          </form>
        </div>
      </div>
      <!-- // Contact  form Ends --> 
      
    </div>
     </div>
  
    
</main>
<!-- // Parallax Header Ends --> 
<!-- Container -->
<div class="container" id="explore"> 
  
  <!-- Features Section -->

  <div class="section-title has-padding-top">
  <h2>Ferske historier fra norske virksomheter:<br>
  Les hvordan våre kunder enkelt kom igang.</h2>
  </div>
  <section class="row features"> 
    <!-- Feature 01 -->
    <div class="col-sm-6 col-md-4 col-lg-4 has-padding-top">
      <div class="thumbnail"> <img src="images/icon_browser.png" alt="analytics-icon">
        <div class="caption">
          <h3>Dobling med nytt kodenavn</h3>
          <p>Pål og Trond oppdaget etter få måneders drift at deres nye tjeneste Startshop hadde et kommunikasjonsproblem: En alt for høy andel nye brukere forsto ikke hva tjenesten gjorde.</p>
        </div>
      </div>
    </div>
    
    <!-- Feature 02 -->
    <div class="col-sm-6 col-md-4 col-lg-4 has-padding-top">
      <div class="thumbnail"> <img src="images/icon_money.png" alt="analytics-icon">
        <div class="caption">
          <h3>Selge skinnet uten å skyte bjørnen</h3>
          <p>Charles visste at pris-diskusjonene ville bli mange. Eksperter ville bli hentet inn. Eposttrådene ville vokse seg lange. En spørreundersøkelse blant kunder kunne også bli aktuelt, men han hadde erfart at disse ofte var misvisende.</p>
        </div>
      </div>
    </div>
    
    <!-- Feature 03 -->
    <div class="col-sm-6 col-md-4 col-lg-4 has-padding-top">
      <div class="thumbnail"> <img src="images/icon_gift.png" alt="analytics-icon">
        <div class="caption">
          <h3>Gull med gaveinnpakning</h3>
          <p>Som digitalsjef i Jernia skulle Marius Ørvik utvikle tilleggstjenester og produkter som kunne øke marginene i selskapets nettbutikk.<br>
          Kunne gaveinnpakning øke salget på på jernia.no? Var dette noe Jernia kunne selge som en tilleggstjeneste?</p>
        </div>
      </div>
    </div>
    <div class="clearfix visible-md-block hidden-sm"></div>
    <!-- Feature 04 -->
    
    <div class="col-sm-6 col-md-4 col-lg-4 has-padding-top">
      <div class="thumbnail"> <img src="images/icon_notebook.png" alt="analytics-icon">
        <div class="caption">
          <h3>Produktet som døde etter tur på gata</h3>
          <p>Teamet hadde diskutert ideen i månedsvis. En universell adressebok, på tvers av alle kommunikasjonsplattformer. Dette kunne være gjennombruddet de trengte - en global vinner i et digitalt marked.</p>
        </div>
      </div>
    </div>
    
       <!-- Feature 05 -->
    
    <div class="col-sm-6 col-md-4 col-lg-4 has-padding-top">
      <div class="thumbnail"> <img src="images/icon_news.png" alt="analytics-icon">
        <div class="caption">
          <h3>Mindre pinlig med nyhetssammendrag</h3>
          <p>Som produktutvikler fra nyhetsdesken i sol.no ønsket Kjetil å utfordre hvordan vi konsumerer nyheter.<br>
          Finnes det folk som ikke sitter på nettavisen dagen lang? Får de lest nyheter? Hvor lang tid har de til rådighet til å oppdatere seg? Hva er mest irriterende for de som faktisk har tilgang til nettavis?</p>
        </div>
      </div>
    </div>
       <!-- Feature 06 -->
    
    <div class="col-sm-6 col-md-4 col-lg-4 has-padding-top">
      <div class="thumbnail"> <img src="images/icon_stage.png" alt="analytics-icon">
        <div class="caption">
          <h3>Kommer: Skjulte dører</h3>
          <p>Flere nye caser er på gang.</p>
        </div>
      </div>
    </div>
    
  </section>
  <!-- // Features Section Ends -->  
</div>
<!-- // Container Ends --> 

<!-- Grey Highlight Section -->
<div class="highlight testimonials">
  <div class="container"> 
    
    <!-- Testimonials -->
    <section class="row has-margin-bottom has-padding-top">
      <div class="col-md-8 col-md-offset-2">
        <blockquote>En veldig fin introduksjon til hvordan jeg kan ta i bruk Lean Startup i min arbeidshverdag. Å sette seg ned og lese en bok kan være tidkrevende og dette var en god måte å få innblikk i hvordan man kan bruke dette som verktøy. Nå er jeg fristet til å plukke opp boka.</blockquote>
        <div class="clientblock"> 
          <p>Christina Kjær Seime<br>
            Teamleder/Prosjektleder, Miles AS</p>
        </div>
      </div>
       
    </section>
    <!-- // End Testimonials --> 
    
  </div>
</div>
<!-- // End Grey Highlight Section --> 

<!-- Container -->
<div class="container"> 
  
 
  
  <!-- FAQ -->
  <div class="section-title">
    <h2>Frequently Asked Questions</h2>
    <h4>Got questions? We have got answers</h4>
  </div>
  <section class="row faq breath">
    <div class="col-md-6">
      <h6>How does the free trial work?</h6>
      <p>Our 10 day trial is 100% free and does not require credit card information to start. If at the end of your trial you would like to upgrade, great. If not, you can cancel your account altogether, or let us mark it as inactive for you to come back to later.</p>
      <h6>Can I switch plans later?</h6>
      <p>Absolutely. You can switch between our paid plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.</p>
    </div>
    <div class="col-md-6">
      <h6>Do I need to choose a plan now?</h6>
      <p>No. You get the full featured, unlimited version of Startup completely free for 10 days. Once you're ready to upgrade, you may choose a plan which suits your needs.</p>
      <h6>What payment types do you accept?</h6>
      <p>We accept payments from MasterCard, Visa, Visa Debit and American Express. We do not accept PayPal. Remember, you do not need to supply card details to start your free trial.</p>
    </div>
  </section>
  <!-- // End FAQ --> 
  
</div>
<!-- // Container Ends --> 


<!--  Footer CTA Starts -->
 
  <section class="highlight"><div class="container"> 
    
  <!-- Client Logos -->
  <div class="row clientlogo breath">
    <div class="section-title">
    <h2>Kom i gang med Lean Startup</h2>
    <h4>Vi har oppsummert læringen og suksessene fra noen av våre ferske kunde-caser i seks leksjoner til deg.</h4>
    <div class="col-md-12 text-center"> <img src="images/client-logos.png" alt="client-logos"></div>
  </div>
  <!-- // End Client Logos --> 
  </div>
    <!-- Mailchimp Subscribe form -->
    <div class="row has-margin-bottom">
      <div class="col-md-12 text-center"> <a href="#top" class="btn btn-primary btn-lg">MELD DEG PÅ</a> </div>
    </div>
  </div></section>
 
<!-- //  Footer CTA Ends --> 

<!-- Container -->
<div class="container">
  <section class="row breath">
    <div class="col-md-12 footerlinks">  
      <p>Er du i Oslo sentrum en dag? Kom innom våre nye lokaler i Grensen 9B: Vi byr på nykvernet, ferskbrygget kaffe og en prat!<br>
      <a href="http://www.iterate.no">www.iterate.no</a>
      </p>
    </div>
  </section>
  <!-- // End Client Logos --> 
  
</div>
<!-- // Container Ends --> 

<!-- JS and analytics only. --> 
<!-- Bootstrap core JavaScript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/ketchup.all.js"></script> 
<script src="js/contact_form.js"></script>
<!--Responsive Video-->
<script src="js/fitvids.js"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#videoBlock").fitVids();
  });
</script>
</body>
</html>
