body {
	font-size : 12pt;
}
header h1 {
	color : #fff;
	text-decoration: underline;
	text-transform: uppercase;
}
header h2 {
	color : #fff;
	text-transform: uppercase;	
}
header {
	padding : 10pt;	
	color : #fff;
	background :#265280;
	border-bottom-color: #B8CC49;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}
section {
	color : #265280;
}
section h1, h2, h3 {
	color : #265280;
}
section img {
	padding-right: 10pt;
	padding-bottom: 20pt;
}
.logo {
	padding-top : 10pt;
	padding-bottom : 10pt;
}
.logo img {
	max-width: 100pt;
}
header h1 {
	padding-top : 20pt;
}
.label-blue {
	background :#265280;
}
.content {
	padding-top: 20pt;
	padding-left : 10pt;
	padding-right : 10pt;
	background: #EAEBEC;
	margin-bottom : 0px;
}
aside {
	font-size : 10pt;
}
footer {
	font-size : 10pt;
	padding-top : 15pt;
	padding-left : 10pt;
	padding-right : 10pt;
	padding-bottom : 15pt;
	color : #fff;
	background: #6F6F6F;
	margin-bottom: 0pt;
	border-bottom-color: #B8CC49;
	border-bottom-style: solid;
	border-bottom-width: 5px;	
}
footer p {
	line-height: 11pt;
}
footer a {
	color : #fff;
}
footer a:hover {
	color : #265280;
}
footer h1 {
	color : #fff;
	text-decoration: underline;
	text-transform: capitalize;
}
footer img {
	max-width: 100pt;
}
address {
	font-size: 8pt;
	text-align: center;
	padding : 10pt;	
	color : #fff;
	background :#265280;
	margin-bottom: 0pt;
}
address a {
	color : #fff;
}
